<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Interface de Monitoring iLO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="wrapper">


<header>
    Monitoring des serveurs iLO
</header>

<nav>
    <a href="{{ url_for('index') }}">Accueil</a>
    <a href="{{ url_for('add_site') }}">Site</a>
    <a href="{{ url_for('add_ilo') }}">iLO</a>
    <a href="http://{{ grafana_ip }}:3000/dashboards" target="_blank">Dashboard</a> <!-- ← adapter l’URL si besoin -->
    {% if current_user.is_authenticated %}
       {% if current_user.get_role() == 'admin' %}
         <a href="{{ url_for('manage_users') }}">Utilisateurs</a>
       {% endif %}
       <a href="{{ url_for('logout') }}">Se déconnecter</a>
    {% endif %}



</nav>

<main>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
          {% for category, message in messages %}
            <li class="flash {{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
</main>

<footer>
    Interface de gestion iLO &copy; 2025 - EverMedia
</footer>


</div>

</body>
</html>
